body {
    padding: 0px;
    margin: 0px;
}

.top-menu {
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
}

.top-section {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 10vh;
}

.left img {
    min-width: 150px;
    max-width: 150px;
    padding-left: 50px;
    padding-top: 0px;
}

.right {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.socials a {
    background-color: #221F20;
    max-height: 50px;
}

.bottom-section {
    width: 100%;
    position: relative;
}

.bottom-section img {
    padding-left: 50px;
}

@media (max-width:917px) {
    .bottom-section img {
        padding-left: 50px;
        width: 500px;
    }
}

@media (max-width:500px) {
    .bottom-section img {
        padding-left: 50px;
        width: 400px;
    }
}

.menu_financials {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.yellow {
    background-color: #F0BB18;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #1DA261;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #EE4326;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs-menu>div:first-child {
    min-height: 70px;
}

.triangle_1_financials {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F0BB18;
}

.triangle_2_financials {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1DA261;
    display: none;
}

.triangle_3_financials {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #EE4326;
    display: none;
}

@media (max-width:600px) {
    a svg {
        height: 30px;
        width: 30px;
    }
    .logo {
        max-width: 100%;
    }
    .bottom-section img {
        max-width: 100%;
    }
    .div {
        font-size: 10px;
        text-align: center;
    }
}

@media (max-width:350px) {
    a svg {
        height: 20px;
        width: 20px;
    }
    .left .logo {
        width: 10px;
        max-width: 10px;
    }
}


/* responsive */

@media (max-width:1404px) {
    .mrtop {
        margin-top: -300px!important;
    }
    .mr_bottom {
        margin-top: -350px!important;
    }
}

@media (max-width:891px) {
    .mrtop {
        margin-top: -200px!important;
    }
    .mr_bottom {
        margin-top: -250px!important;
    }
}

@media (max-width:723px) {
    .mrtop {
        margin-top: -140px!important;
    }
    .mr_bottom {
        margin-top: -180px!important;
    }
}

@media (max-width:510px) {
    .mrtop {
        margin-top: -100px!important;
    }
    .mr_bottom {
        margin-top: -140px!important;
    }
}


/* responsive */

@media (max-width:704px) {
    /* menu */
    .menu {
        grid-template-columns: 50% 50%!important;
    }
    .divs-menu {
        min-height: 20px!important;
    }
    .rd_col {
        width: 40%;
    }
    .txt {
        font-size: 14px!important;
    }
    .red_programme {
        margin-top: 20px!important;
    }
    .t_t {
        font-size: 25px!important;
    }
    .t_t:last-child {
        font-size: 18px!important;
    }
    .gl {
        display: none!important;
    }
    .glful {
        display: grid!important;
        grid-template-columns: 50% 50%!important;
    }
}

@media (max-width:500px) {
    .img_section {
        margin-top: 0px!important;
    }
    .rd_col {
        width: 60%;
    }
    .glful {
        display: grid!important;
        grid-template-columns: 90%!important;
        row-gap: 20px;
    }
    .logos_display {
        grid-template-columns: 50% 50%!important;
        row-gap: 20px;
    }
}

@media (max-width:370px) {
    .lastbox {
        min-height: 200px!important;
    }
    .img_section {
        margin-top: 40px!important;
    }
    .rd_col {
        width: 80%;
    }
}